# Auto detect text files and perform LF normalization
* text=auto
docs/qualification/m761/*_raw.log -text -whitespace
docs/qualification/m77/**/*_raw.log -text -whitespace
docs/qualification/m77/*_raw.log -text -whitespace
docs/qualification/m77/production_memory_initial.log -text -whitespace
